<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crop Demo</title>
    <link rel="Stylesheet" type="text/css" href="css/croppie.css" />
    <link rel="Stylesheet" type="text/css" href="css/demo.css" />
    <link rel="Stylesheet" type="text/css" href="css/sweetalert.css" />
</head>
<body>
    <div class="demo-wrap upload-demo">
        <div class="container">
            <!-- <div class="grid"> -->
                <strong>裁剪上传Demo</strong>
                <div class="actions">
                    <a class="btn file-btn">
                        <span>Upload</span>
                        <input type="file" id="upload" value="Choose a file" accept="image/*" />
                    </a>
                    <button class="upload-result">Result</button>
                </div>
                <div class="upload-msg">
                    Upload a file to start cropping
                </div>
                <div class="upload-demo-wrap">
                    <div id="upload-demo"></div>
                </div>
            <!-- </div> -->
        </div>
        <div id="userImageDiv" class="container">
            
        </div>
    </div>
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/prism.js"></script>
    <script src="js/lib/sweetalert.min.js"></script>
    <script src="js/croppie.js"></script>
    <script src="js/demo.js"></script>
    <script src="js/lib/exif.js"></script>
    <script>
        var userInfoId = <%-userInfoId%>;
        Demo.init();
    </script>
</body>
</html>